body {
    font-family: 'Poppins', sans-serif;
    background-color: #999966;
    color: #fff;
    text-align: center;
    margin: 0;
}

.game-area {
    box-sizing: border-box;
    background-color: #9999ff;
    height: 60vh;
    width: 100%;
    margin-bottom: 3em;
}

#player-area, #computer-area {
    display: inline-block;
    width: 300px;
    height: 250px;
    border: 1px solid #000;
    padding: 5px;
    margin: 25px;
    text-align: center;
    font-weight: 300;
    font-size: 3em;
}

#versus {
    display: inline-block;
    text-align: center;
    height: 250px;
    font-size: 2em;
    padding-bottom: 2em;
}

#display-text {
    text-align: center;
    margin: auto;
    font-size: 2em;
    font-weight: 300;
}

#roll-dice {
    width: 440px;
    padding: 0.5em;
    font-size: 20px;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
}